@import "socialmediapagedesktop.css";


.column {
    float: none;
    width: 100%;
    padding: 15px;
}

.topnav a {
    float: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
}
