<style>
h1{
  font-family: monospace;
  text-align: center;
  color: white;

}
h2{
  font-family: monospace;
  text-align: center;
  color: white;
}
h3{
  font-family: monospace;
  text-align: center;
  color: grey;
}

body {
  margin: 0;
}

.header {
    background-color: lightgrey;
    padding: 50px;
    text-align: center;
    font-family: monospace;
}
.footer{
  background-color: lightgrey;
  padding: 20px;
  text-align: center;
  font-family: monospace;
  color: white;
}
.topnav {
    overflow: hidden;
    background-color: teal;
}


.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: monospace;
}

.topnav a:hover {
    background-color: darkgrey;
    color: black;
}

</style>
