<style>

h2 {
  font-family: monospace;
  text-align: center;

}
h1 {
  font-family: monospace;
  text-align: center;

}
p {
  font-family: monospace;
  text-align:center;

}
* {
    box-sizing: border-box;
}

body {
  margin: 0;
}


.grid-header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    font-family: monospace;
}


.topnav {
    overflow: hidden;
    background-color: skyblue;
}


.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: monospace;
}

.topnav a:hover {
    background-color: aliceblue;
    color: black;
}

.column {
    float: left;
    width: 33.3%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
    font-family:monospace;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
.nav {
  font-family: monospace;
  text-align: center;

}
ul {
  list-style: none;

}

ul a{
  padding: 8px 16px;
}
</style>
